<p>total-infected works!</p>

<div>Confimed: {{ (totalInfected$ | async)?.confirmed }}</div>
<div>Deaths: {{ (totalInfected$ | async)?.deaths }}</div>
<div>Recovered: {{ (totalInfected$ | async)?.recovered }}</div>
<div>Location: {{ (totalInfected$ | async)?.location }}</div>
<p>Get detail</p>

<div>
  <input type="text" placeholder="country" [(ngModel)]="country" />
  <br />
  <br />
  <button (click)="getData()">get data</button>
  <br />
  <br />
  <button (click)="getDetail()">get detail</button>
  <button (click)="getCountry()">get country</button>
</div>
